.productImage {
   width: 100%;
   position: relative;
}

.productImage>img {
   width: 100%;

}

.currenttime {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 48px;
   font-weight: 600;
}

.heartrate {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   font-size: 48px;
   font-weight: 600;
}

.heartrate>i {
   color: red;
   animation: beat 1s infinite;
}

.heartrate>p {
   margin-top: 16px;
}

@keyframes beat {
   0% {
      transform: scale(1, 1);
   }

   50% {
      transform: scale(1.2, 1.2);
   }

   100% {
      transform: scale(1, 1);
   }
}